{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}
    Solicitud de Restablecimiento Enviada
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        Correo de Restablecimiento Enviado
    {% endelement %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>
        Te hemos enviado un correo electrónico con las instrucciones para restablecer tu contraseña. Si no lo has recibido, por favor revisa tu carpeta de spam. Si no lo recibes en unos minutos, contáctanos.
    </p>
    <p>
        <a href="{% url 'account_login' %}" class="btn btn-primary">Volver al inicio de sesión</a>
    </p>
{% endblock content %}
