{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    Verificar Tu Dirección de Correo
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        Correo de Verificación Enviado
    {% endelement %}
    <p>
        Te hemos enviado un correo electrónico para verificación. Sigue el enlace proporcionado para finalizar el proceso de registro. Si no ves el correo de verificación en tu bandeja principal, revisa tu carpeta de spam. Por favor contáctanos si no recibes el correo de verificación en unos minutos.
    </p>
    <p>
        <a href="{% url 'account_login' %}" class="btn btn-primary">Ir al inicio de sesión</a>
    </p>
{% endblock content %}
