{% extends "account/base_manage.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    Verificar Tu Dirección de Correo
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        Verificar Tu Dirección de Correo
    {% endelement %}
    {% url 'account_email' as email_url %}
    <p>
        Esta parte del sitio requiere que verifiquemos que eres quien dices ser. Para este propósito, necesitamos que verifiques la propiedad de tu dirección de correo electrónico.
    </p>
    <p>
        Te hemos enviado un correo electrónico para verificación. Por favor haz clic en el enlace dentro de ese correo. Si no ves el correo de verificación en tu bandeja principal, revisa tu carpeta de spam. Si no lo recibes en unos minutos, contáctanos.
    </p>
    <p>
        <strong>Nota:</strong> aún puedes <a href="{{ email_url }}">cambiar tu dirección de correo</a>.
    </p>
{% endblock content %}
